<a href="javascript:void(0)" class="pull-right fab-button btn btn-danger"><span onclick="openNav()">Actions</span></a>

<% if @permissions["1"] == "true" && @permissions["2"] == "true" %>
  <textarea class="paper edit-note" data-note-id="<%= @note.id %>"><%= @note.body %></textarea>
<% elsif @permissions["1"] == "true" %>
  <textarea class="paper" data-note-id="<%= @note.id %>"><%= @note.body %></textarea>
<% else %>
  <h4>You do not have the permission to view this note.</h4>
<% end %>

  <div id="mySidenav" class="sidenav">
    <div style="padding:0 20px">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

      <div>
        <% if @permissions["3"] == "true" %>
          <div class="all-users">
            <%= render partial: 'user' %>
          </div>
        <% end %>

        <% if @permissions["2"] == "true" %>
          <div class="all-tags">
            <%= render partial: 'tag' %>
          </div>
        <% end %>

        <% if @note.created_by == current_user %>
          <div class="delete-note">
            <%= link_to "Delete Note", note_path(@note), method: :delete, class: "btn btn-danger btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <script>
    $(".share-notes" ).select2({'width': '100%',
                                'placeholder': "Select the users",
                                'allowClear': true});
    $(".notes-permissions" ).select2({'width': '100%',
                                'placeholder': "Select the permissions",
                                'allowClear': true});

    var note_body = $('textarea.paper.edit-note').val();
    setInterval(function(){ autoSaveNote(note_body); }, 10000);
    
  </script>
