<div>
  <% if @users.present? %>
    <h4 class="muted">Share with Users</h4>
    <%= form_tag share_note_path(@note), remote: true do |f| %>
      <div class="form-group">
        <label for="">Users</label>
        <%= collection_select :user, :ids, @users, :id, :email, {}, { multiple: true, class: "select2 share-notes form-control" } %>
      </div>

      <div class="form-group">
        <label for="">Permissions</label>
        <%= hidden_field_tag 'permission_ids', nil %>
        <%= collection_select :permission, :ids, Permission.all, :id, :name, {}, { multiple: true, class: "select2 notes-permissions" } %>
      </div>

      <%= submit_tag "Share", class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <h4 class="muted">This note is shared with all the users.</h4>
  <% end %>
</div>
<br>

<div class="">
  <% note_users = @note.note_users %>
  <% if note_users.present? %>
    <h4 class="muted">Shared with</h4>
    <ul class="nav flex-column">
      <% @note.note_users.each do |note_user| %>
        <% user = note_user.user %>
        <li class="nav-item">
            <span><%= user == current_user ? "#{user.email} (You)" : note_user.user.email %></span>
            <% unless user == current_user %>
              <span><%= link_to "Edit", edit_permission_notes_path(note_user.id), remote:true %></span>
              <span><%= link_to "Remove", remove_user_note_path(id: @note.id, user_id: note_user.user.id), remote: true, method: :delete %>
            </span>
            <% end %>

        </li>
      <% end %>
    </ul>
  <% else %>
    <h5 class="muted">This note is not shared with any user yet.</h5>
  <% end %>
</div>

<hr>

<br>
